extends baseEmail

block content
  p Hi Admin,
  p A  tour has been reviewed: #{tourName}  with the following details
  p by user: #{first_name} ,
  p review: #{review} 
  p rating: #{rating}
  p country of residency: #{country} 
  p month of vistiting : #{month}
  p year of vistiting : #{year}